JWT_SECRET_KEY=changeme
RESET_PASSWORD_TOKEN_SECRET=changeme
VERIFICATION_TOKEN_SECRET=changeme

KODIK_API_HOST=https://kodikapi.com/search
KODIK_API_TOKEN=changeme
KODIK_TRANSLATION_ID=2700

DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
DB_NAME=db
